Repository mamoe/mirai-console, pull requests merged in 2020-09, with the labels that each got.

#156 PermissionService & Permissions
  backend/mirai-console/build.gradle.kts
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/BuiltInCommands.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/Command.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/CommandOwner.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/CommandPermission.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/CommandSender.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/CompositeCommand.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/RawCommand.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/SimpleCommand.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/java/JCompositeCommand.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/java/JRawCommand.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/command/java/JSimpleCommand.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/extension/AbstractExtensionPoint.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/extension/Extension.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/extensions/PermissionServiceProvider.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/extensions/PostStartupExtension.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/MiraiConsoleImplementationBridge.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/command/CommandPermissionImpl.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/command/CompositeCommandInternal.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/command/internal.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/data/builtins/ConsoleDataScope.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/permission/PermissionServiceImpl.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/plugin/JvmPluginInternal.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/BuiltInPermissionServices.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/HotDeploymentSupportPermissionService.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/Permissible.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/Permission.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/PermissionGroup.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/PermissionId.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/PermissionService.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/permission/StorablePermissionService.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/plugin/jvm/JvmPlugin.kt
  frontend/mirai-console-pure/build.gradle.kts
Labels: backend

#163 Working without Terminal
  frontend/mirai-console-pure/src/main/kotlin/net/mamoe/mirai/console/pure/ConsolePureSettings.kt
  frontend/mirai-console-pure/src/main/kotlin/net/mamoe/mirai/console/pure/ConsoleThread.kt
  frontend/mirai-console-pure/src/main/kotlin/net/mamoe/mirai/console/pure/MiraiConsoleImplementationPure.kt
  frontend/mirai-console-pure/src/main/kotlin/net/mamoe/mirai/console/pure/MiraiConsolePureLoader.kt
  frontend/mirai-console-pure/src/main/kotlin/net/mamoe/mirai/console/pure/noconsole/NoConsole.kt
Labels: frontend-pure

#164 Sem Version
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/util/SemVersionInternal.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/util/SemVersion.kt
  backend/mirai-console/src/test/kotlin/net/mamoe/mirai/console/util/TestSemVersion.kt
Labels: backend, ready-to-merge

#179 Terminal
  .github/workflows/bintray.yml
  .github/workflows/shadow.yml
  README.md
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/MiraiConsole.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/plugin/BuiltInJvmPluginLoaderImpl.kt
  backend/mirai-console/src/main/kotlin/net/mamoe/mirai/console/internal/plugin/JvmPluginInternal.kt
  buildSrc/src/main/kotlin/Versions.kt
  docs/Run.md
  frontend/mirai-console-terminal/build.gradle.kts
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/pure/MiraiConsolePureLoader.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/BufferedOutputStream.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/ConsoleInputImpl.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/ConsoleTerminalSettings.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/ConsoleThread.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/MiraiConsoleImplementationTerminal.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/MiraiConsoleTerminalLoader.kt
  frontend/mirai-console-terminal/src/main/kotlin/net/mamoe/mirai/console/terminal/noconsole/NoConsole.kt
  settings.gradle.kts
  tools/intellij-plugin/run/projects/test-project/src/test/kotlin/RunConsole.kt
Labels: frontend-pure
