Repository mamoe/mirai-console, pull requests merged in 2021-03, with the labels that each got.

#307 Ensure that the PermissionService is loaded correctly
  backend/mirai-console/src/extension/ExtensionPoint.kt
  backend/mirai-console/src/extensions/PermissionServiceProvider.kt
  backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
Labels: backend, bug, ready-to-merge

#312 Use `device.json` by default for AutoLoginConfig
  backend/mirai-console/src/internal/data/builtins/AutoLoginConfig.kt
Labels: enhancement, ready-to-merge

#320 New Project Wizard
  tools/compiler-annotations/src/CheckerConstants.kt
  tools/intellij-plugin/.gitignore
  tools/intellij-plugin/build.gradle.kts
  tools/intellij-plugin/resources/META-INF/plugin.xml
  tools/intellij-plugin/resources/fileTemplates/j2ee/.gitignore.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/.gitignore.html
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin build.gradle.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin build.gradle.html
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin build.gradle.kts.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin build.gradle.kts.html
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin main class Java.java.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin main class Java.java.ft.back
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin main class Java.java.html
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin main class Kotlin.kt.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin main class Kotlin.kt.html
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin settings.gradle.kts.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/Plugin settings.gradle.kts.html
  tools/intellij-plugin/resources/fileTemplates/j2ee/gradle.properties.ft
  tools/intellij-plugin/resources/fileTemplates/j2ee/gradle.properties.html
  tools/intellij-plugin/src/Icons.kt
  tools/intellij-plugin/src/assets/Assets.kt
  tools/intellij-plugin/src/assets/FileTemplateRegistrar.kt
  tools/intellij-plugin/src/creator/MiraiModuleBuilder.kt
  tools/intellij-plugin/src/creator/MiraiModuleType.kt
  tools/intellij-plugin/src/creator/MiraiProjectModel.kt
  tools/intellij-plugin/src/creator/MiraiVersion.kt
  tools/intellij-plugin/src/creator/build/ProjectCreator.kt
  tools/intellij-plugin/src/creator/steps/BuildSystemStep.form
  tools/intellij-plugin/src/creator/steps/BuildSystemStep.kt
  tools/intellij-plugin/src/creator/steps/BuildSystemType.kt
  tools/intellij-plugin/src/creator/steps/LanguageType.kt
  tools/intellij-plugin/src/creator/steps/OptionsStep.form
  tools/intellij-plugin/src/creator/steps/OptionsStep.kt
  tools/intellij-plugin/src/creator/steps/PluginCoordinatesStep.form
  tools/intellij-plugin/src/creator/steps/PluginCoordinatesStep.kt
  tools/intellij-plugin/src/creator/steps/ValidationUtil.kt
  tools/intellij-plugin/src/creator/tasks/CreateProjectTask.kt
  tools/intellij-plugin/src/creator/tasks/TaskUtils.kt
  tools/intellij-plugin/src/diagnostics/ContextualParametersChecker.kt
  tools/intellij-plugin/src/line/marker/CommandDeclarationLineMarkerProvider.kt
  tools/intellij-plugin/src/line/marker/PluginMainLineMarkerProvider.kt
  tools/intellij-plugin/test/creator/tasks/TaskUtilsKtTest.kt
  tools/intellij-plugin/test/package.kt
Labels: feature, intellij-plugin
